<a href="https://github.com/Jackoski/exchangeRates" target="_blank"><i class="fab fa-github-square"> </i> Jacek Majda
    2019
</a>
<section class="socialIcons">
    <div class="social1"><i class="fab fa-linkedin"></i></div>
    <div class="social2"><i class="fab fa-github"></i></div>
    <div class="social3"><i class="fas fa-at"></i></div>
    <div class="social4"><i class="fab fa-facebook-square"></i></div>
</section>