<h1><i class="fas fa-coins"></i> Aktualne notowania walut</h1>
<section class="details">
    <section class="table">
        <p><span>Tabela: </span></p>
        <p> {{ratesTable}}</p>
    </section>
    <section class="date">
        <p><span>na dzień</span></p>
        <p>{{ratesDate}}</p>
    </section>
</section>