<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Notowania walut</title>
</head>

<body>
    <div class="imgBcg">
        <div class="bcgCol">
            <header>
                {{> _header}}
            </header>
            {{{body}}}
            <footer>
                {{> _footer}}
            </footer>
        </div>
    </div>
    <script>
        const currencyCode = [...document.querySelectorAll('.foreginCurrencyName')]
        const currencyValue = [...document.querySelectorAll('.foreginQuantity')]
        const resultToExchange = document.querySelector('.resultToExchange')
        const plnToExchange = document.querySelector('.plnToExchange')
        const linkedin = document.querySelector('.social1')
        const github = document.querySelector('.social2')
        const gmail = document.querySelector('.social3')
        const faccebook = document.querySelector('.social4')
        linkedin.addEventListener('click', () => {
            window.open('https://www.linkedin.com/in/jacek-majda-aab81b17b/', '_blank');
        })
        github.addEventListener('click', () => {
            window.open('https://github.com/Jackoski', '_blank');
        })
        gmail.addEventListener('click', () => {
            window.open("mailto:mail@example.org", '_blank');
        })
        faccebook.addEventListener('click', () => {
            window.open('https://www.facebook.com/jacek.majda', '_blank');
        })
        let selectedRate
        let selectedPlnValue
        let currencyRates = [{
        }]
        for (let i = 0; i < currencyCode.length; i++) {
            currencyRates[i] = {
                code: currencyCode[i].textContent,
                value: currencyValue[i].textContent
            }
        }

        const selectedCurrency = (value) => {
            selectedRate = value
            currencyRates.forEach((rate) => {
                if (rate.code == selectedRate) {
                    resultToExchange.value = (rate.value * plnToExchange.value).toFixed(2);
                }
            })
        }
        const selectedPln = (qty) => {
            currencyRates.forEach((rate) => {
                if (rate.code == selectedRate) {
                    resultToExchange.value = (rate.value * qty).toFixed(2);
                }
            })
        }
        const selectedForeginCurrency = (quantity) => {
            currencyRates.forEach((rate) => {
                if (rate.code == selectedRate) {
                    plnToExchange.value = (quantity / rate.value).toFixed(2);
                }
            })
        }


    </script>
</body>

</html>