@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&subset=latin-ext');



* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.imgBcg {
    background-image: url('../img/dol.jpg');
    background-repeat: repeat;
    background-size: contain;
    background-attachment: scroll;
}

.bcgCol {
    background-color: rgba(255, 129, 002, 0.97);
}

/* header */
header {
    padding-top: 50px;
}

.details {
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
}

header .details section {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 50px
}

header section span {
    font-weight: 700;
    padding-right: 10px
}

/* main */

.exchangeInput {
    display: flex;
    justify-content: center;
    align-items: center;
}

.plnToExchange,
.resultToExchange {
    margin: 0 20px;
}

label {
    margin-left: 20px;
}

input,
select {
    width: 120px;
    height: 40px;
    color: orangered;
    background-color: white;
    border: none;
    border-radius: 1%;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.specificCurrency {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 20px;
    font-weight: 700
}

.round1 {
    content: '';
    position: relative;
    left: 20px;
    width: 42px;
    height: 42px;
    background-color: orangered;
    border-radius: 50%;
}

.round2 {
    content: '';
    position: relative;
    right: 20px;
    width: 42px;
    height: 42px;
    background-color: orangered;
    border-radius: 50%;
}

.specificCurrency p {
    padding: 10px 0;
    text-transform: uppercase;
    background-color: orangered;
}

.polishCurenncy {
    width: 120px;
}

.shortPolishCurrency {
    z-index: 1;
    width: 60px;
    text-align: left
}

.polishCurrencyQuantity {
    width: 60px;
}

.equals {
    width: 50px;
}

.foreginCurrency {
    width: 380px;
    z-index: 1;
}

.foreginCurrencyName {
    width: 40px;
}

.foreginQuantity {
    width: 120px;
}


/* footer */
html body footer {
    box-sizing: border-box;
    height: 80px;
    display: inline-block;
}

footer a {
    display: inline-block;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-weight: 700;
}

footer a i {
    font-weight: 400;
}



.socialIcons {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
    width: 150px;
    right: 20vw;
    color: white;
}

.socialIcons i {
    z-index: 1;
}

.social1 {
    display: block;
    width: 35px;
    height: 20px;
    top: -11px;
    left: 39px;
    background: orangered;
    position: relative;
    cursor: pointer;
}

.social1:before {
    content: "";
    position: absolute;
    top: -10.5px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-bottom: 11px solid orangered;
}

.social1:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 10px solid orangered;
}

.social2 {
    width: 35px;
    height: 20px;
    background: orangered;
    position: relative;
    left: 2.5px;
    cursor: pointer;
}

.social2:before {
    content: "";
    position: absolute;
    top: -10.5px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-bottom: 10px solid orangered;
}

.social2:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 10px solid orangered;
}

.social3 {
    width: 35px;
    height: 20px;
    background: orangered;
    position: relative;
    cursor: pointer;

}

.social3:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-bottom: 10px solid orangered;
}

.social3:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 10px solid orangered;
}

.social4 {
    width: 35px;
    height: 20px;
    background: orangered;
    position: relative;
    top: -31px;
    left: -21px;
    cursor: pointer;

}

.social4:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-bottom: 10px solid orangered;
}

.social4:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 18.75px solid transparent;
    border-right: 18.75px solid transparent;
    border-top: 10px solid orangered;
}

@media (max-width: 950px) {
    .specificCurrency {
        display: flex;
        justify-content: center;
        justify-items: center;
        font-weight: 700;
        font-size: 12px;
        align-items: center
    }

    .round1 {
        left: 15px;
        width: 36px;
        height: 36px;
    }

    .round2 {
        right: 15px;
        width: 36px;
        height: 36px;
    }

    .specificCurrency p {
        padding: 10px 0;
    }

    .polishCurenncy {
        width: 120px;
    }

    .shortPolishCurrency {
        width: 60px;
        text-align: left
    }

    .polishCurrencyQuantity {
        width: 30px;
    }

    .equals {
        width: 20px;
    }

    .foreginCurrency {
        width: 300px;
    }

    .foreginCurrencyName {
        width: 40px;
    }

    .foreginQuantity {
        width: 60px;
    }
}

@media (max-width: 630px) {
    header h1 {
        font-size: 20px;
    }

    header .details section {
        margin: 50px 10px;
        font-size: 18px;
    }

    .plnToExchange,
    .resultToExchange {
        margin: 0 5px;
    }

    label {
        margin: 0
    }

    .polishCurrencyName {
        margin: 0;
    }

    input,
    select {
        width: 95px;
    }

    .polishCurenncy {
        display: none
    }

    footer a {
        font-size: 14px;
    }

    .social1 {
        top: -9.5px;
    }
}

@media (max-width: 425px) {
    .specificCurrency {
        width: 100vw;
        margin: 20px 0;
    }


    .round1 {
        left: 10px;
    }

    .round2 {
        right: 10px;
    }
}

@media (max-width: 335px) {
    .socialIcons {
        margin-left: 0
    }
}